<ul id="slide-out" class="side-nav">
  <li>
    <div class="userView" *ngIf="tokenSignature">
      <div class="background">
        <img src="http://materializecss.com/images/office.jpg">
      </div>
      <!--<a href="javascript:void(0)"><img class="circle" [src]="objPayload.IMAGE"></a>-->
      <!--<a href="javascript:void(0)"><span class="name">{{objPayload.PRENAME}}{{ objPayload.NAME }} {{objPayload.LASTNAME}}</span></a>-->
      <a href="javascript:void(0)"><span class="name">{{objPayload[0].usernames}}</span></a>
      
      <!--<a href="javascript:void(0)"><span class="email">{{ objPayload.HOSPNAME }}</span></a>-->
    </div>
  </li>
  <li *ngIf="!tokenSignature1"><a [href]="loginPage" >เข้าสู่ระบบ</a></li>
  <li *ngIf="tokenSignature1"><a href="javascript:void(0)" (click)="logout()">ออกจากระบบ</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="javascript:void(0)">Third Link With Waves</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>