<div class="container">
  <div class="card">
    <div class="card-image">
      <nav class="blue darken-2">
        <div class="nav-wrapper">
          <div class="divider"></div>
          <ul class="left">
            <li><a href="javascript:void(0)" (click)="sho(1)"><i class="material-icons left">view_module</i> ข้อมูลบันทึกกิจกรรม VDO</a></li>
            <li><a href="javascript:void(0)" (click)="sho(2)"><i class="material-icons left">play_circle_outline</i> COP 1</a></li>
            <li><a href="javascript:void(0)" (click)="sho(3)"><i class="material-icons left">play_circle_outline</i> COP 2</a></li>
            <li><a href="javascript:void(0)" (click)="sho(4)"><i class="material-icons left">play_circle_outline</i> COP 3</a></li>
          </ul>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a [routerLink]="'../home'" routerLinkActive="active"><i class="fa fa-youtube-play" aria-hidden="true"></i> VDO</a></li>
            <li><a [routerLink]="'../home2'" routerLinkActive="active"><i class="fa fa-image" aria-hidden="true"></i> รูปภาพ</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <app-showhomevdo *ngIf="so1" [apiKey]="shoid"></app-showhomevdo>



  <app-showhomevdo2 *ngIf="so2" [apiKey]="shoid1" [idcop]="idcop1"></app-showhomevdo2>

  <app-showhomevdo2 *ngIf="so3" [apiKey]="shoid2" [idcop]="idcop2"></app-showhomevdo2>

  <app-showhomevdo2 *ngIf="so4" [apiKey]="shoid3" [idcop]="idcop3"></app-showhomevdo2>
  <!--<nav>
    <div class="nav-wrapper cyan">
      <a href="javascript:void(0)" (click)="showform(3)" class="brand-logo"><i class="material-icons">view_list</i> แสดงข้อมูล</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="javascript:void(0)" (click)="showform(4)"><i class="fa fa-youtube-play" aria-hidden="true"></i> VDO</a></li>
        <li><a href="javascript:void(0)" (click)="showform(5)"><i class="fa fa-image" aria-hidden="true"></i> รูปภาพ</a></li>
      </ul>
    </div>
  </nav>


  <div class="row">
    <div class="col s12 m12 l12">
      <app-pcc-homelist [apiKeyList]="apiKeyList" (tolistpcc)="tolistpcc($event)"></app-pcc-homelist>
    </div>-->





</div>








<!--</div>-->

<!-- Modal Structure -->
<!--<div id="modal1" class="modal">
  <div class="modal-content">

    <app-item-pcc-detail *ngIf="pccdetail" [getlisttopccdetail]="getlisttopccdetail"></app-item-pcc-detail>
  </div>
  <div class="modal-footer">
    <a href="javasctipt:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="onCloseModal()">ปิดหน้าต่าง</a>
  </div>
</div>-->