<div class="container">
  <nav>
    <div class="nav-wrapper cyan">
      <a href="javascript:void(0)" (click)="showform(3)" class="brand-logo"><i class="material-icons">view_list</i> แสดงข้อมูล ข้อมูล</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!--<li><a href="javascript:void(0)" (click)="showform(1)"><i class="fa fa-plus" aria-hidden="true"></i> VDO</a></li>
        <li><a href="javascript:void(0)" (click)="showform(2)"><i class="fa fa-plus" aria-hidden="true"></i> รูปภาพ</a></li>-->
      </ul>
    </div>
  </nav>


  <div class="row">
    <div class="col s12 m12 l12">
      <app-pcc-homelist [apiKeyList]="apiKeyList"></app-pcc-homelist>
    </div>
  </div>







</div>