<div class="container">
  <nav>
    <div class="nav-wrapper  cyan">
      <a href="#" class="brand-logo right">PCC-CHANNEL</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">VDO</a></li>
        <li><a href="badges.html">เอกสาร</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
      <a class="btn-floating btn-large halfway-fab waves-effect waves-light  red">
        <i class="material-icons">add</i>
      </a>
    </div>
  </nav>
  <app-item-pcc-cform></app-item-pcc-cform>

  <app-item-listvdo [apiKeyVdoList]="apiKeyVdoList"></app-item-listvdo>
</div>