<ul class="collection">
  <li class="collection-item avatar" *ngFor="let item of models">
    <i class="material-icons circle red" *ngIf="item.st==1">play_arrow</i>
    <i class="material-icons circle  light-blue" *ngIf="item.st==2">perm_media</i>
    <span class="title"><b>เรื่อง / หัวข้อ :</b> {{item.subject}}</span>
    <p><b>ผู้ส่ง :</b> {{item.fullname}}</p>
    <p><b>สถานบริการ :</b> {{item.hname}}</p>
    <!--<p><b>รายละเอียด :</b> {{item.article}}</p>-->
    <p *ngIf="item.url_youtube!=''"><b>URL :</b> <a [href]="item.url_youtube" target="_blank" pTooltip="คลิกดู" tooltipPosition="top"><i class="material-icons">open_in_browser</i></a></p>
    <a href="#modal1" (click)="getlistpcc(item)" class="secondary-content" pTooltip="ดูรายละเอียด" tooltipPosition="top"><i class="material-icons">search</i></a>
    <p><b>วันที่บันทึก :</b> {{item.d_update}}</p>
  </li>
</ul>