<nav class="nav-extended">
    <div class="nav-wrapper  blue darken-2">
        <a href="javascritp:void(0)" class="brand-logo" style="margin-left: 2cm;">{{title}}</a>
        <app-c-slide-out></app-c-slide-out>

        <app-c-login></app-c-login>

    </div>
    <div class="nav-content  blue darken-2">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a [routerLink]="'home'" routerLinkActive="active">Reality Pcc Show And Share</a></li>
            <li class="tab"><a [routerLink]="'pcc1'" routerLinkActive="active">conference</a></li>
            <!--<li class="tab"><a [routerLink]="'pcc1'" routerLinkActive="active">Pcc Studio / Confero</a></li>
            <li class="tab"><a [routerLink]="'pcc2'" routerLinkActive="active">PCC2</a></li>
            <li class="tab"><a [routerLink]="'pcc3'" routerLinkActive="active">PCC3</a></li>
            <li class="tab"><a [routerLink]="'pccnbc'" routerLinkActive="active">นบส</a></li>
            <li class="tab"><a [routerLink]="'pccarj'" routerLinkActive="active">อาจารย์</a></li>
            <li class="tab"><a [routerLink]="'pcckm'" routerLinkActive="active">แหล่งแลกเปลี่ยนเรียนรู้</a></li>-->
            <li class="tab"><a [routerLink]="'pccchannel'" routerLinkActive="active">UPLOAD</a></li>
        </ul>
    </div>
</nav>
<br />
<router-outlet></router-outlet>