



<div class="row" *ngIf="xxxvdo">
  <div class="col s12 m12 l7">
    <div class="card">
      <div class="card-image">
        <video width="100%" height="350" controls>
          <source [src]="filex" type="video/mp4">
        </video>
      </div>
      <!--<div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>-->
    </div>
    <!--<p>
        <video width="602" height="337" controls>
          <source src="http://164.115.22.73/p/pon-api/pccfile/pcc_20170612120139_199dcaa292385e4d21a1a5354d375d30.mp4" type="video/mp4">
        </video>
      </p>-->
  </div>
  <div class="col s12 m12 l5">
    <h4>{{models[0].subject}}</h4>
    <!--<p>ผู้ส่ง :: {{models.fullname}}</p>
      <p>สถานบริการ :: {{models.hname}}</p>-->
    <p><b>รายละเอียด :</b> {{models[0].article}}</p>
    <!--<p *ngIf="models.url_youtube!=''"><b>URL :</b> <a [href]="models.url_youtube" target="_blank" pTooltip="คลิกดู" tooltipPosition="top"><i class="material-icons">open_in_browser</i></a></p>-->
    <p><b>กลุ่ม :</b> {{models[0].groupsname}}</p>
    <p><b>วันที่บันทึก :</b> {{models[0].d_update}}</p>
  </div>
</div>
<hr />
