<!--<div class="container">
  <nav>
    <div class="nav-wrapper cyan">
      <a href="javascript:void(0)" (click)="showform(9)" class="brand-logo"><i class="material-icons">view_list</i> แสดงข้อมูล PCC 1</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="javascript:void(0)" (click)="showform(10)"><i class="fa fa-youtube-play" aria-hidden="true"></i> VDO</a></li>
        <li><a href="javascript:void(0)" (click)="showform(11)"><i class="fa fa-image" aria-hidden="true"></i> รูปภาพ</a></li>
      </ul>
    </div>
  </nav>
  <app-listpcc [apiKey]="apiKey" [param]="param" (tolistpcc)="tolistpcc($event)"></app-listpcc>
</div>-->
<div class="container">
  <div class="card">
    <div class="card-image">
      <nav class="blue darken-2">
        <div class="nav-wrapper">
          <div class="divider"></div>
          <ul class="left">
            <li><a href="javascript:void(0)" (click)="sho(1)"><i class="material-icons left">view_module</i> ตางรางประชุม Conference</a></li>
            <!--<li><a href="javascript:void(0)" (click)="sho(2)"><i class="material-icons left">play_circle_outline</i> COP 1</a></li>-->
            <!--<li><a href="javascript:void(0)" (click)="sho(3)"><i class="material-icons left">play_circle_outline</i> COP 2</a></li>-->
            <!--<li><a href="javascript:void(0)" (click)="sho(4)"><i class="material-icons left">play_circle_outline</i> COP 3</a></li>-->
          </ul>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!--<li><a [routerLink]="'../home'" routerLinkActive="active"><i class="fa fa-youtube-play" aria-hidden="true"></i> VDO</a></li>-->
            <!--<li><a [routerLink]="'../home2'" routerLinkActive="active"><i class="fa fa-image" aria-hidden="true"></i> รูปภาพ</a></li>-->
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <app-conference></app-conference>
</div>